<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.keep.root.dao.UserDao">
  
    <resultMap type="User" id="UserMap">
    <id column="user_no"  property="no"/>
    <result column="email"    property="email"/>
    <result column="password" property="password"/>
    <result column="user_name"       property="name"/>
    <result column="birthday"  property="birth"/>
    <result column="gender"    property="gender"/>
    <result column="phone_number" property="tel"/>
    <result column="zip_code"    property="zipCode"/>
    <result column="basic_address" property="basicAddr"/>
    <result column="detail_address" property="detailAddr"/>
    <result column="photo"    property="photo"/>
    <result column="nickname" property="nickName"/>
    <result column="account" property="account"/>
    <result column="bank" property="bank"/>
  </resultMap>
  
  <insert id="insert" parameterType="User">
    insert into user(
    email,
    password,
    user_name,
    birthday,
    gender,
    phone_number,
    zip_code,
    basic_address,
    detail_address,
    photo,
    nickname,
    account,
    bank
    ) values(
      #{email},
      password(#{password}),
      #{name},
      #{birth},
      #{gender},
      #{tel},
      #{zipCode},
      #{basicAddr},
      #{detailAddr},
      #{photo},
      #{nickName},
      #{account},
      #{bank}
    )
  </insert>
  
  <select id="findAll" resultMap="UserMap">
    select 
    user_no,
    email,
    password,
    user_name,
    birthday,
    gender,
    phone_number,
    zip_code,
    basic_address,
    detail_address,
    photo,
    nickname,
    account,
    bank
    from 
      user
  </select>

  
  <select id="findByNo" resultMap="UserMap" parameterType="int">
    select 
    user_no,
    email,
    password,
    user_name,
    birthday,
    gender,
    phone_number,
    zip_code,
    basic_address,
    detail_address,
    photo,
    nickname,
    account,
    bank
    from 
      user
    where 
      user_no=#{no}
  </select>
  
  
  </mapper>