<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.keep.root.dao.ReviewPlaceDao">

  <resultMap type="ReviewPlace" id="ReviewPlaceMap">
    <id column="review_place_no"  property="no"/>
    <result column="place_name"    property="name"/>
    <result column="place_basic_address"    property="basicAddr"/>
    <result column="place_detail_address"    property="detailAddr"/>
    <result column="place_review"    property="placeReview"/>
    <result column="main_photo"    property="mainPhoto"/>
    <result column="status"    property="status"/>
    
    <association property="day" javaType="ReviewDay">
      <id column="review_day_no"  property="no"/>
	    <result column="title"    property="title"/>
	    <result column="day_date"    property="dayDate"/>
	    <result column="day_review"    property="mainReview"/>
	    <result column="main_photo"    property="mainPhoto"/>
	    <result column="status"    property="status"/>
    </association>
    
    <collection property="reviewPlacePhotos" ofType="ReviewPlacePhoto">
      <id column="photo_no"  property="no"/>
      <result column="photo_file"    property="photo"/>
      <result column="review_place_no"  property="no"/>      
    </collection>
  </resultMap>
  
  <insert id="insert" parameterType="ReviewPlace"
    useGeneratedKeys="true" keyColumn="review_place_no" keyProperty="no">
    insert into review_place(place_name,place_basic_address,place_detail_address,place_review,main_photo,status,review_day_no)
    values(#{name}, #{basicAddr}, #{detailAddr}, #{placeReview}, #{mainPhoto}, #{status}, #{day.no})
  </insert>
  
  <select id="findAllByReviewDayNo" resultMap="ReviewPlaceMap" parameterType="int">
    select 
      review_place_no,
      place_name,
      place_basic_address,
      place_detail_address,
      place_review,
      main_photo,
      status
    from review_place
    where
      review_day_no=#{no}
    order by
      review_place_no asc
  </select>
  
  <select id="findByNo" resultMap="ReviewPlaceMap" parameterType="int">
    select 
      p.review_place_no,
      p.place_name,
      p.place_basic_address,
      p.place_detail_address,
      p.place_review,
      p.main_photo,
      p.status,
      d.review_day_no
    from review_place p
      inner join review_days d on p.review_day_no=d.review_day_no
    where 
      p.review_place_no=#{no}
  </select>
  
  <delete id="delete" parameterType="int">
    delete from review_place
    where review_place_no=#{no}
  </delete>
  
  <!-- search -->
  
  <select id="findAll" resultMap="ReviewPlaceMap" parameterType="Map">
    select 
      review_place_no,
      place_name,
      place_basic_address,
      place_detail_address,
      place_review,
      main_photo,
      status
    from review_place
    where
      review_day_no
  </select>
  
  <select id="findByKeyword" resultMap="ReviewPlaceMap" parameterType="map">
    <bind name="keywordPattern" value="'%' + _parameter + '%'"/>
      select
      u.user_no,
      r.review_no, r.create_date, r.status, 
      d.review_day_no, d.title, d.day_date, d.day_review, d.main_photo, d.status,
      p.review_place_no, p.place_name, p.place_basic_address, p.place_detail_address,
      p.place_review, p.main_photo, p.status,
      t.photo_no, t.photo_file
    from reviews r
      inner join users u on r.user_no=u.user_no
      inner join review_days d on r.review_no=d.review_no
      inner join review_place p on d.review_day_no=p.review_day_no
      inner join review_place_photo t on p.review_place_no=t.review_place_no
    where 
      d.title like #{keywordPattern}
      or d.day_review like #{keywordPattern}
      or p.place_name like #{keywordPattern}
      or p.place_basic_address like #{keywordPattern}
      or p.place_detail_address like #{keywordPattern}
      or p.place_review like #{keywordPattern}
  </select>
  
   <select id="find" resultMap="ReviewPlaceMap" parameterType="int">
    select
      u.user_no,
      r.review_no, r.create_date, r.status, 
      d.review_day_no, d.title, d.day_date, d.day_review, d.main_photo, d.status,
      p.review_place_no, p.place_name, p.place_basic_address, p.place_detail_address,
      p.place_review, p.main_photo, p.status,
      t.photo_no, t.photo_file
    from reviews r
      inner join users u on r.user_no=u.user_no
      inner join review_days d on r.review_no=d.review_no
      inner join review_place p on d.review_day_no=p.review_day_no
      inner join review_place_photo t on p.review_place_no=t.review_place_no
    where 
      p.review_place_no=#{no}
  </select>
  
</mapper>







