.all{
border:10px;
margin: 30px 200px 0px 250px;
padding-bottom: 30px;
border-radius: 10px;
}

.total{
text-align:center;

}

h3{
text-align:center; 
  color: #a08f86;
  font-size: 40px;
    margin-bottom: 30px;
}

.content{
text-align:center; 
}

.context-box{
border: 0;
outline: 0;
border-radius: 8px;
background:#F2F2F2;
padding-left: 10px;
width:370px;
height:50px;
}

.context-box:hover{
background:#E0F8EC;
}

.context-text{
text-align:left;
}

#btn{
text-align:center;
color:white;
border: 0;
outline: 0;
width: 370px;
height: 60px;
border-radius: 6px;
background:#eb5d1e;
margin-bottom:10px;
}

.etc{
text-align:center;
}

.search {
padding-right: 145px;
}

