div.container {
    position: relative;
    z-index: 20;
    max-width: 954px;
    height: 100%;
    margin: 0 auto;
}

#content {
    position: relative;
    padding: 32px 51px 95px;
}
.section_home{
    line-height: 14px;
    zoom: 1;
    padding: 16px 12px 94px;
}

.section_home .column {
    float: left;
    width: 50%;
}

.sh_group, .sh_group2, .sh_group3, .sh_group4 {
    margin: 16px 8px 0;
    padding: 32px 29px 30px;
    text-align: left;
    border: 1px solid #dadada;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
}

.sh_group {
    min-height: 185px;
}
  