<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.keep.root.dao.OutputDao">
    
   <resultMap id="resultUser" 
              type="com.keep.root.domain.User" >
    <id column="user_no"  property="no"/>
    <result column="email"          property="email"/>
    <result column="password"       property="password"/>
    <result column="user_name"      property="name"/>
    <result column="birthday"       property="birth"/>
    <result column="gender"         property="gender"/>
    <result column="phone_number"   property="tel"/>
    <result column="zip_code"       property="zipCode"/>
    <result column="basic_address"  property="basicAddr"/>
    <result column="detail_address" property="detailAddr"/>
    <result column="photo"          property="photo"/>
    <result column="nickname"       property="nickName"/>
    <result column="account"        property="account"/>
    <result column="bank"           property="bank"/>
    </resultMap>
    
    <resultMap id="resultPoint" 
              type="com.keep.root.domain.Point" >
      <id column="point_no"          property="no"/>
      <result column="user_no"       property="userNo"/>
      <result column="trader_no"     property="traderNo"/>
      <result column="point_type"    property="pointType"/>
      <result column="content"       property="content"/>
      <result column="price"         property="price"/>
   </resultMap>

  <sql id="select1" >
    select 
    u.user_no, u.user_name,  u.phone_number,  u.account,  u.bank
    </sql>
  
  <sql id="select2">
     select 
     p.point_no,  p.user_no, p.trader_no,  p.point_type,  p.content,  p.price
  </sql>
  
  <insert id="insert" parameterType="com.keep.root.domain.User">
    insert into user(
    email, password, user_name, birthday,
    gender,  phone_number,  zip_code,  basic_address,  detail_address,  photo,  nickname,
    account,     bank
    ) values(
      #{email},
      password(#{password}),
      #{name},
      #{birth},
      #{gender},
      #{tel},
      #{zipCode},
      #{basicAddr},
      #{detailAddr},
      #{photo},
      #{nickName},
      #{account},
      #{bank}
    )
    
  </insert>
  
  <select id="findAll" resultMap="resultPoint">
  <include refid="select1"/>
    from user u
  </select>

  
  <select id="findByNo" resultMap="resultPoint" parameterType="int">
    <include refid="select1"/>
    from 
      user u
    where 
      user_no=#{no}
  </select>
  
   <select id="findOutListByUserNo" resultMap="resultPoint" parameterType="map">
   select 
    u.user_no, 
    u.user_name,
    u.phone_number, 
    u.account, 
    u.bank,
    p.point_no, 
    p.user_no, 
    p.trader_no, 
    p.point_type, 
    p.content, 
    p.price
    from 
      user u
      inner join points p on 
      (u.user_no=p.user_no and u.user_no=p.trader_no)
      
    <!-- 
    select 
    u.user_no, u.email, u.password, u.user_name, u.birthday, u.gender, 
    u.phone_number, u.zip_code,
    u.basic_address, u.detail_address, u.photo, u.nickname, u.account, u.bank,
    p.point_no, p.user_no, p.trader_no, p.point_type, p.content, p.price
        from 
    points p
      inner join users u on p.user_no=u.user_no
    where 
      p.point_no=#{no}
    
       -->
  </select>
  
  
  </mapper>