.all{
	text-align:center; 
border:spx;
margin: 30px 300px 0px 300px;
padding-bottom: 30px;
border-radius: 10px;
  border-style: solid ;
  border-color: #fef8f5;
}

.total{
text-align:center;

}

h3{
text-align:center; 
  color: #a08f86;
  font-size: 40px;
    margin-bottom: 30px;
}

.content{
text-align:center; 


}

.context-box{
border: 0;
outline: 0;
border-radius: 8px;
background:#F2F2F2;
padding-left: 10px;
width:370px;
height:50px;
}

.context-box:hover{
background:#E0F8EC;
}

.context-text{
text-align:left;
}

#btn{
text-align:center;
color:white;
border: 0;
outline: 0;
width: 370px;
height: 60px;
border-radius: 6px;
background:#eb5d1e;
margin-bottom:10px;
}

#btn2{
text-align:center;
color:white;
border: 0;
outline: 10;
width: 420px;
height: 70px;
border-radius: 6px;
background:#ff9b69;
margin-bottom:100px;
margin-left:10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 3px;
padding-bottom: 3px;
}


.search {
padding-right: 145px;
}

