div.content {
  position:relative;
}
div.titlebar {
  height:45px;
  margin:15px auto;
}
div.statebar {
  margin:5px auto;
  height:38px;
}
div.leftStatebar {
  width:50%;
  float:left;
}
div.selectDay {
  float:left;
}
div.rightStatebar {
	float:right;
	width:50%;
}
div.leftContent {
  float:left;
  width:50%;
}
div.rightContent {
  float:right;
  width:50%;
}
div.plus {
	padding:11px 16px;
}
.ui.rating {
	float:right;
}
.ui.dropdown {
  float:right;
}
.minus.icon {
	padding-left:calc(100% - 16.52px);
	margin-right:0rem;
}
.plus.icon {
  padding-left: calc(calc(100% - 16.52px) / 2);
  margin:0px;
}
#menu { 
	float:left;
	padding: 12px;
}

.dotOverlay {position:relative;bottom:10px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;font-size:12px;padding:5px;background:#fff;}
.dotOverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}    
.number {font-weight:bold;color:#ee6152;}
.label {color:#333;}
.dotOverlay:after {content:'';position:absolute;margin-left:-6px;left:50%;bottom:-8px;width:11px;height:8px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')}
.distanceInfo {position:relative;top:5px;left:5px;list-style:none;margin:0;}
.distanceInfo .label {display:inline-block;width:50px;}
.distanceInfo:after {content:none;}

.ui.left.sidebar,.ui.right.sidebar{width:25%}


.modal {
    height: auto;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
}